@import "src/mixins";
@import "src/variable.scss";

.candidate-detail {
  .border-top-black {
    border-top: 1px solid black;
  }

  .flex {
    display: flex;
  }

  .flex:not(:last-child) {
    border-bottom: 1px solid black;
  }

  display: flex;
  flex-direction: column;
  width: 95%;
  border: 1px solid black;
  border-right: unset;
  margin: 20px auto 0px auto;

  .content-title {
    background: rgb(149, 188, 242);
    padding: 10px 5px;
    font-weight: bold;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
  }

  .content {
    display: flex;
  }

  .left-column,
  .right-column {
    width: 50%;
  }

  .left-column {
    .employee {
      display: flex;
    }

    .application {
      border-top: 1px solid black;
    }
  }

  .employee > span,
  .candidate > span,
  .application > span,
  .row-properties > span,
  .row-properties > label {
    padding: 5px 0px 5px 5px;
  }

  .note > div,
  .history > div {
    padding: 5px 0px 5px 5px;
  }

  .bg-gray-1 {
    background: $gray-1;
  }

  .bg-gray-2 {
    background: $gray-2;
  }

  .w-20 {
    width: 35.2%;
  }

  .w-18 {
    width: 18%;
  }

  .w-60 {
    width: 60%;
  }

  .w-82 {
    width: 82%;
  }

  .w-9 {
    width: 15%;
  }

  .input {
    border: none;
    outline: none;
    padding: 0;
  }

  .error {
    color: red;
  }
}

.content-actions {
  width: 95%;
  height: 50px;
  margin: 20px auto 0px auto;

  button {
    margin-right: 15px;
  }

  .submit-btn {
    background: $blue;
    color: white;
  }

  .back-btn {
    span {
      margin-left: 5px;
    }
  }
}
