<div class="candidate-detail">
  <div class="content-title">
    <span>Personal Information</span>
  </div>
  <div class="content">
    <div class="left-column">
      <div class="employee">
        <span class="small-col">Empl ID</span>
        <span class="medium-col">00126792</span>
        <span class="small-col">Type</span>
      </div>
      <div class="application flex">
        <span class="small-col">Application Date</span>
        <span class="large-col">23-OTc-2018</span>
      </div>
      <div class="flex">
        <span class="small-col">Site</span>
        <span class="large-col">23-OTc-2018</span>
      </div>
      <div class="flex">
        <span class="small-col">Name*</span>
        <span class="large-col">23-OTc-2018</span>
      </div>
      <div class="flex">
        <span class="small-col">DOB*</span>
        <span class="large-col">23-OTc-2018</span>
      </div>
      <div class="flex">
        <span class="small-col">University</span>
        <span class="large-col">23-OTc-2018</span>
      </div>
      <div class="flex">
        <span class="small-col">Phone</span>
        <span class="large-col">23-OTc-2018</span>
      </div>
      <div class="flex">
        <span class="small-col">Skill</span>
        <span class="large-col">23-OTc-2018</span>
      </div>
      <div class="flex">
        <span class="small-col">Foreign Language</span>
        <span class="large-col">23-OTc-2018</span>
      </div>
    </div>
    <div class="right-column">
      <div class="candidate flex">
        <span class="small-col">Candidate</span>
        <span class="medium-col">Status</span>
        <span class="small-col">new</span>
      </div>
      <div class="application flex">
        <span class="small-col">Channel</span>
        <span class="large-col">23-OTc-2018</span>
      </div>
      <div class="flex">
        <span class="small-col">Account</span>
        <span class="large-col">23-OTc-2018</span>
      </div>
      <div class="flex">
        <span class="small-col">Gender</span>
        <span class="large-col">23-OTc-2018</span>
      </div>
      <div class="flex">
        <span class="small-col">CV</span>
        <span class="large-col">23-OTc-2018</span>
      </div>
      <div class="flex">
        <span class="small-col">Faculty</span>
        <span class="large-col">23-OTc-2018</span>
      </div>
      <div class="flex">
        <span class="small-col">Email</span>
        <span class="large-col">23-OTc-2018</span>
      </div>
      <div class="flex">
        <span class="small-col">Graduation Year</span>
        <span class="large-col">23-OTc-2018</span>
      </div>
      <div class="flex">
        <span class="small-col">Level</span>
        <span class="large-col">23-OTc-2018</span>
      </div>
    </div>
  </div>
  <div class="content-footer">
    <div class="flex">
      <div class="flex-21 border-top-black">
        <span>Note</span>
      </div>
      <div class="large-col border-top-black"></div>
    </div>
    <div class="flex">
      <div class="flex-21">
        <span>History</span>
      </div>
      <div class="large-col"></div>
    </div>
  </div>
</div>
<div class="content-actions">
  <button class="submit-btn" mat-raised-button>Submit</button>
  <button (click)="goBack()" class="back-btn" mat-raised-button>
    <mat-icon color="warn">arrow_back</mat-icon>
    <span>Close</span>
  </button>
</div>
