<link rel="stylesheet" href="update-candidate.component.scss">
<div class="update-c-container">
  <div class="content">
    <h2 class="title">
      <p *ngIf="isCreate; else update">Create Candidate</p>
      <ng-template #update>
        <p>Update Candidate</p>
      </ng-template>
    </h2>
    <div class="form-group">
      <mat-tab-group class="tab">
        <mat-tab label="Candidate Information">
          <app-candidate-detail [candidateForm]="candidateFormGroup"
                                [candidate]="(candidate$ | async)"
                                [universities]="(university$ | async)"
                                [sites]="(sites$ | async)"
                                [channels]="(channels$ | async)"
                                [faculties]="(faculty$ | async)"
                                [isCreate]="isCreate"
                                [autoId]="emplId"
                                (onSubmit)="submit()"
          >
          </app-candidate-detail>
        </mat-tab>
        <mat-tab label="Result">
          res
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
