@import "src/mixins";
@import "src/variable.scss";

.update-c-container {
  @include content-width;

  .flex {
    display: flex;
  }

  .flex:not(:last-child) {
    border-bottom: 1px solid black;
  }

  .content {
    .tab {
      display: flex;
    }

  }
}
