@import '/src/variable.scss';

.dialog-s {
  .title {}

  .message {
    margin: 12px 0;
  }

  .button {
    display: flex;
    justify-content: space-around;

    button {
      width: 120px;
    }
  }

  .body {
    margin: 12px 0;
    display: none;
    align-items: center;
    b {
      margin-right: 20px;
    }
  }
}
