<div class="menu-sys">
  <div *ngIf="isLogged" class="icon-toggle">
    <mat-icon>arrow_back</mat-icon>
  </div>

  <div *ngIf="isLogged" class="role">
    <span style="margin-bottom: 5px">Your role now is:</span>
    <app-selected-item [dataSource]="dataSourceRoles" [value]="dataSourceRoles[1]"></app-selected-item>
  </div>

  <div *ngIf="isLogged" class="content-menu">
    <button class="each-item" routerLinkActive="isSelected" routerLink='/dashboard'>
      <mat-icon>fiber_manual_record</mat-icon>
      <span class="link-action">
         Dashboard
      </span>
    </button>

    <button class="each-item" routerLinkActive="isSelected" routerLink='/class-management'>
      <mat-icon>fiber_manual_record</mat-icon>
      <span class="link-action">
        Class Management
      </span>
    </button>

    <button class="each-item" routerLinkActive="isSelected" routerLink='/dashboard'>
      <mat-icon>fiber_manual_record</mat-icon>
      <span class="link-action">
        Candidate Management
      </span>
    </button>

    <button class="each-item" routerLinkActive="isSelected" routerLink='/dashboard'>
      <mat-icon>fiber_manual_record</mat-icon>
      <span class="link-action">
        Trainer Management
      </span>
    </button>

    <button class="each-item" routerLinkActive="isSelected" routerLink='/dashboard'>
      <mat-icon>fiber_manual_record</mat-icon>
      <span class="link-action">
        Trainee Management
      </span>
    </button>

    <button class="each-item" routerLinkActive="isSelected" routerLink='/dashboard'>
      <mat-icon>fiber_manual_record</mat-icon>
      <span class="link-action">
        General Setting
      </span>
    </button>
  </div>
</div>
