<mat-form-field appearance="fill" style="width: 100%;">
  <mat-select [disabled]="isDisabled" (selectionChange)="onValueChange($event)"
    [value]="this.itemSelected ? this.itemSelected.id : null" [required]="required">

    <div *ngIf="dataSource.length > 0; else obser">
      <div *ngFor="let item of dataSource">
        <mat-option [value]="item.id" [disabled]="item.isDisable">{{item.name}}</mat-option>
      </div>
    </div>
    <ng-template #obser>
      <div *ngFor="let item of dataSource$ | async">
        <mat-option [value]="item.id" [disabled]="item.isDisable">{{item.name}}</mat-option>
      </div>
    </ng-template>
  </mat-select>
</mat-form-field>