.content-sys {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  .body-sys {
    display: flex;
    height: 100%;
  }

  .fix-content {
    flex-shrink: 1;
  }

  .body-content-sys {
    flex: auto;
  }
}
