/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import '/src/variable.scss';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.link-text {
  text-decoration: underline;

  &:hover {
    cursor: pointer;
  }
}

.link-action {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;

  /* Non-prefixed version, currently
                                          supported by Chrome, Edge, Opera and Firefox */
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  &:active {
    font-weight: 600;
  }
}