.btn-container button {
  margin-right: 15px;
}

table {
  width: 100%;
  // width: calc(95vw - 300px);
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #d3d3d3;
}

h3 {
  width: 100%;
  border-bottom: 1px solid;
  padding: 10px 0;
}

:host ::ng-deep .mat-table thead {
  background-color: #d3d3d3;
  text-align-last: center;
}

table,
th,
td {
  border: 1px solid;
}

th.mat-header-cell:first-of-type,
td.mat-cell:first-of-type {
  padding-left: 0;
  width: 60px;
  text-align: center;
}

td.mat-cell:nth-of-type(2) {
  text-align: center;
}

.flex-container {
  display: flex;

  .item-container {
    display: flex;
    align-items: center;
    width: 30%;
    padding-right: 30px;

    p {
      width: 30%;
      min-width: 95px;
    }
  }

  .button-container {
    height: auto;
    align-self: center;
    width: 9%;
    text-align: right;
  }

  .mat-form-field {
    width: 100%;
  }
}
